*{
    margin :0 auto;
    padding:0;
    box-sizing: border-box;
}
:root{
    --text--:#D887D7;
    --bg--:#87D888   ;
}
.title ,.text{
    color: var(--text--);
}
.link{
    text-decoration: none;
}
.list{
    list-style-type: none;
}
.card{
    border: none;
    width: 50%;
}
.footer ,.nav{
    background-color: var(--bg--);
    color: var(--text--);
}